.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.svn/
.svn/*
.settings/
.settings/*
.buildpath
.project
_site
.settings/*
composer.lock
vendor
node_modules
node_modules/*
.jekyll-cache
.jekyll-cache/*
package-lock.json
Gemfile.lock
.claude
.claude/*
