<div class="layout layout-centered layout-spaced">
    <p class="header-eyebrow">Our Process</p>
    <h2>How we work with <strong class="purple">clients</strong></h2>
    <p class="header-addendum">We know how to go from idea to execution seamlessly.</p>
    <ul class="our-process">
        <li>
            <h3>Brainstorm &amp; plan</h3>
            <p>We start off with a free proposal to define the specifications of your project.</p>
        </li>
        <li>
            <h3>Design &amp; implement</h3>
            <p>Next, we design and implement the solution based on the agreed-upon specifications.</p>
        </li>
        <li>
            <h3>Finalize &amp; deploy</h3>
            <p>Then we finalize the solution and publish it to your production environment for you.</p>
        </li>
    </ul>
</div>
