<ul class="services">
    <li>
        <a href="/services/web-development/" title="Web Development">
            <img src="/images/services/web-development.jpg" alt="Web Development" />
            <strong>Web Development</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-code"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/artificial-intelligence/" title="Artificial Intelligence">
            <img src="/images/services/artificial-intelligence.jpg" alt="Artificial Intelligence" />
            <strong>Artificial Intelligence</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-robot"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/software-engineering/" title="Software Engineering">
            <img src="/images/services/software-engineering.jpg" alt="Software Engineering" />
            <strong>Software Engineering</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-laptop-code"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/server-infrastructure/" title="Server Infrastructure">
            <img src="/images/services/server-infrastructure.jpg" alt="Server Infrastructure" />
            <strong>Server Infrastructure</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-server"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/database-optimization/" title="Database Optimization">
            <img src="/images/services/database-optimization.jpg" alt="Database Optimization" />
            <strong>Database Optimization</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-database"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/api-integrations/" title="API Integrations">
            <img src="/images/services/api-integrations.jpg" alt="API Integrations" />
            <strong>API Integrations</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-handshake"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/payments-and-cryptocurrency/" title="Payments and Cryptocurrency">
            <img src="/images/services/payments-and-cryptocurrency.jpg" alt="Payments and Cryptocurrency" />
            <strong>Payments and Crypto</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-money-bill-1-wave"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/application-design/" title="Application Design">
            <img src="/images/services/application-design.jpg" alt="Application Design" />
            <strong>Application Design</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-paintbrush"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/sdlc-and-product-management/" title="SDLC / Product Management">
            <img src="/images/services/sdlc-and-product-management.jpg" alt="SDLC / Product Management" />
            <strong>SDLC / Product Management</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-user-tie"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/cloud-computing/" title="Cloud Computing">
            <img src="/images/services/cloud-computing.jpg" alt="Cloud Computing" />
            <strong>Cloud Computing</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-cloud"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/ticketing-and-events/" title="Ticketing and Events">
            <img src="/images/services/ticketing-and-events.jpg" alt="Ticketing and Events" />
            <strong>Ticketing and Events</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-ticket"></i>
            <b></b>
        </a>
    </li>
    <li>
        <a href="/services/travel-and-tourism/" title="Travel and Tourism">
            <img src="/images/services/travel-and-tourism.jpg" alt="Travel and Tourism" />
            <strong>Travel and Tourism</strong>
            <span>Read more &#8594;</span>
            <i class="fa-solid fa-location-dot"></i>
            <b></b>
        </a>
    </li>
</ul>