<div class="testimonials">
    <div class="layout layout-spaced">
        <div class="testimonials-description">
            <p class="header-eyebrow">Testimonials</p>
            <h2>Partner <strong class="purple">Feedback</strong></h2>
            <p class="description">Our partners and clients have praised our dedication to quality and customer service.</p>
        </div>
        <ul>
            <li>
                <p>I hired Andrew Johnson when I was Vice President of Hotel Hotline.com.  I’ve discovered Andrew is someone you can rely on. <!--He has high integrity, a strong work ethic, and is very sharp.  He has consistently delivered on promises, and often surprises me by how quickly he can turn around a development project.--> <em>[…]</em> Andrew is a pleasure to work with and I look forward to working with him again in the future.</p>
                <p class="testimonial-person">Rob Bruce<small>Customer</small></p>
                <img src="/images/testimonials/rob-bruce.jpg" alt="Rob Bruce" />
            </li>
            <li>
                <p>Andrew was a key player in making BabySafeTravel a robust and fully functioning travel and e-commerce platform. He writes clean code that delivers.</p>
                <p class="testimonial-person">Eric McGehearty<small>Former Client</small></p>
                <img src="/images/testimonials/eric-mcgehearty.jpg" alt="Eric McGehearty" />
            </li>
            <li>
                <p>Andrew is a creative and knowledgeable developer and is extremely motivated.</p>
                <p class="testimonial-person">Rob Carling<small>Partner</small></p>
                <img src="/images/testimonials/rob-carling.jpg" alt="Rob Carling" />
            </li>
        </ul>
    </div>
</div>
