---
layout:      default
title:       About • Create to Convert
description: "Create to Convert is a specialty web development company with 15+ years of experience building e-commerce websites for the online travel and ticketing industries. Based in Winnipeg, Canada."
permalink:   /about/
---
<header>
    <div id="header">
        <h1>About Us</h1>
    </div>
</header>
<main>
    <div id="about-details" class="layout layout-spaced about-page">
        <p class="header-eyebrow">Our story</p>
        <p><strong>Create to Convert</strong> is a specialty web development company with over 20 years of experience building e-commerce websites in the online travel and ticketing industries.</p>
        <p>Based out of the thriving metropolis of <i class="fa-brands fa-canadian-maple-leaf"></i>Winnipeg, Manitoba, Canada, Create to Convert was formed in 2010 by <a href="https://www.andrewgjohnson.com/" title="Andrew G Johnson"><em>Andrew G Johnson</em></a>.</p>
        <p>Since the company was formed we have had the pleasure of working with dozens of clients from multiple industries.</p>
        <p>
            <a href="/services/" title="Our Services" class="button">Our services &#8594;</a>
        </p>
    </div>
    {% include process.html %}
    {% include testimonials.html %}
    {% include global-clientele.html %}
</main>
