---
layout:      default
title:       Mint on a Pillow • Portfolio • Create to Convert
description: "Mint on a Pillow is a hospitality industry blog built by Create to Convert, covering hotel management, guest experience and travel industry trends."
permalink:   /portfolio/mint-on-a-pillow/
---
<header>
    <div id="header">
        <h1>Mint on a Pillow</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/mint-on-a-pillow.jpg" alt="Mint on a Pillow" width="400" />
        </p>
        <p>Mint on a Pillow is a hospitality industry blog and resource site dedicated to hotel management, guest experience and travel industry trends.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/mint-on-a-pillow.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    <div class="services">
        <div class="layout layout-spaced layout-centered">
            <h4>Similar <strong class="purple">websites</strong></h4>
            <ul class="portfolio">
                <li>
                    <a href="/portfolio/moap-hotels/" title="MOAP Hotels">
                        <img src="/images/portfolio/logos/moap-hotels.jpg" alt="MOAP Hotels" />
                        <strong>MOAP Hotels</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
                <li>
                    <a href="/portfolio/no-1-hotels/" title="No. 1 Hotels">
                        <img src="/images/portfolio/logos/no-1-hotels.jpg" alt="No. 1 Hotels" />
                        <strong>No. 1 Hotels</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
                <li>
                    <a href="/portfolio/our-top-hotels/" title="Our Top Hotels">
                        <img src="/images/portfolio/logos/our-top-hotels.jpg" alt="Our Top Hotels" />
                        <strong>Our Top Hotels</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
            </ul>
            <p>
                <a href="/portfolio/" title="Full Portfolio" class="button">Full portfolio &#8594;</a>
            </p>
        </div>
    </div>
    {% include process.html %}
</main>
