---
layout:      default
title:       Reservation Counter • Portfolio • Create to Convert
description: "Reservation Counter is a hotel reservation platform built by Create to Convert, offering real-time availability and competitive rates at thousands of properties."
permalink:   /portfolio/reservation-counter/
---
<header>
    <div id="header">
        <h1>Reservation Counter</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/reservation-counter.jpg" alt="Reservation Counter" width="400" />
        </p>
        <p>Reservation Counter is a full-service hotel reservation platform offering real-time availability and competitive rates at thousands of properties worldwide.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/reservation-counter.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    {% include process.html %}
</main>
