---
layout:      default
title:       Rumors Comedy Club • Portfolio • Create to Convert
description: "Rumors Comedy Club is the online home and ticketing platform built by Create to Convert for one of Winnipeg’s premier live comedy venues."
permalink:   /portfolio/rumors-comedy-club/
---
<header>
    <div id="header">
        <h1>Rumor’s Comedy Club</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/rumors-comedy-club.jpg" alt="Rumor’s Comedy Club" width="400" />
        </p>
        <p>Rumor’s Comedy Club is the online home and ticketing platform for one of Winnipeg’s premier live comedy venues, featuring stand-up, improv and special events.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/rumors-comedy-club.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    {% include process.html %}
</main>
