---
layout:      default
title:       Daily Lineups • Portfolio • Create to Convert
description: "Daily Lineups is a daily fantasy sports platform built by Create to Convert, delivering player lineups, stats and matchup analysis for competitive players."
permalink:   /portfolio/daily-lineups/
---
<header>
    <div id="header">
        <h1>Daily Lineups</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/daily-lineups.jpg" alt="Daily Lineups" width="400" />
        </p>
        <p>Daily Lineups is a daily fantasy sports platform delivering up-to-date player lineups, stats and matchup analysis for competitive players.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/daily-lineups.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    {% include process.html %}
</main>
