---
layout:      default
title:       Our Wedding Social • Portfolio • Create to Convert
description: "Our Wedding Social is a ticketing and event management platform built by Create to Convert for wedding socials and fundraiser events."
permalink:   /portfolio/our-wedding-social/
---
<header>
    <div id="header">
        <h1>Our Wedding Social</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/our-wedding-social.jpg" alt="Our Wedding Social" width="400" />
        </p>
        <p>Our Wedding Social is a ticketing and event management platform built by Create to Convert for wedding socials and fundraiser events.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/our-wedding-social.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    {% include process.html %}
</main>
