---
layout:      default
title:       Stay.com.au • Portfolio • Create to Convert
description: "Stay.com.au is an Australian travel booking site built by Create to Convert, offering hotel and accommodation deals for domestic and international visitors."
permalink:   /portfolio/stay-com-au/
---
<header>
    <div id="header">
        <h1>Stay.com.au</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/stay-com-au.jpg" alt="Stay.com.au" width="400" />
        </p>
        <p>Stay.com.au is an Australian travel booking site offering hotel and accommodation deals for domestic and international visitors.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/stay-com-au.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    {% include process.html %}
</main>
