---
layout:      default
title:       Hotels Cheap • Portfolio • Create to Convert
description: "Hotels Cheap is a budget hotel booking site built by Create to Convert, delivering the lowest available rates on accommodations worldwide."
permalink:   /portfolio/hotels-cheap/
---
<header>
    <div id="header">
        <h1>Hotels Cheap</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/hotels-cheap.jpg" alt="Hotels Cheap" width="400" />
        </p>
        <p>Hotels Cheap is a budget hotel booking site delivering the lowest available rates on accommodations worldwide.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/hotels-cheap.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    <div class="services">
        <div class="layout layout-spaced layout-centered">
            <h4>Similar <strong class="purple">websites</strong></h4>
            <ul class="portfolio">
                <li>
                    <a href="/portfolio/hotels-first/" title="Hotels First">
                        <img src="/images/portfolio/logos/hotels-first.jpg" alt="Hotels First" />
                        <strong>Hotels First</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
                <li>
                    <a href="/portfolio/ioutdoor/" title="iOutdoor">
                        <img src="/images/portfolio/logos/ioutdoor.jpg" alt="iOutdoor" />
                        <strong>iOutdoor</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
                <li>
                    <a href="/portfolio/landmarks-123/" title="Landmarks 123">
                        <img src="/images/portfolio/logos/landmarks-123.jpg" alt="Landmarks 123" />
                        <strong>Landmarks 123</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
            </ul>
            <p>
                <a href="/portfolio/" title="Full Portfolio" class="button">Full portfolio &#8594;</a>
            </p>
        </div>
    </div>
    {% include process.html %}
</main>
