---
layout:      default
title:       My Ticket Booth • Portfolio • Create to Convert
description: "My Ticket Booth is a self-service ticketing platform built by Create to Convert, giving event organizers full control over sales and customer relationships."
permalink:   /portfolio/my-ticket-booth/
---
<header>
    <div id="header">
        <h1>My Ticket Booth</h1>
    </div>
</header>
<main>
    <div class="layout layout-spaced" id="portfolio-details">
        <p>
            <a href="/portfolio/" title="Portfolio">&#8592; Back to portfolio</a>
        </p>
        <p class="portfolio-logo">
            <img src="/images/portfolio/logos/my-ticket-booth.jpg" alt="My Ticket Booth" width="400" />
        </p>
        <p>My Ticket Booth is a self-service ticketing solution empowering event organizers to sell tickets, manage inventory and own their customer relationships directly.</p>
        <p class="macbook-screenshot">
            <img src="/images/portfolio/screenshots/my-ticket-booth.png" alt="" class="screenshot" />
            <img src="/images/macbook.png" alt="" class="macbook" />
        </p>
          <div class="layout-centered">
            <p>
                Like what you see?
            </p>
            <p>
                <a href="/contact/" title="Contact Us" class="button">Contact us &#8594;</a>
            </p>
        </div>
    </div>
    {% include global-clientele.html %}
    <div class="services">
        <div class="layout layout-spaced layout-centered">
            <h4>Similar <strong class="purple">websites</strong></h4>
            <ul class="portfolio">
                <li>
                    <a href="/portfolio/rumors-comedy-club/" title="Rumor’s Comedy Club">
                        <img src="/images/portfolio/logos/rumors-comedy-club.jpg" alt="Rumor’s Comedy Club" />
                        <strong>Rumor’s Comedy Club</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
                <li>
                    <a href="/portfolio/our-wedding-social/" title="Our Wedding Social">
                        <img src="/images/portfolio/logos/our-wedding-social.jpg" alt="Our Wedding Social" />
                        <strong>Our Wedding Social</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
                <li>
                    <a href="/portfolio/blue-man-ticketing/" title="Blue Man Ticketing">
                        <img src="/images/portfolio/logos/blue-man-ticketing.jpg" alt="Blue Man Ticketing" />
                        <strong>Blue Man Ticketing</strong>
                        <span>Read more &#8594;</span>
                        <b></b>
                    </a>
                </li>
            </ul>
            <p>
                <a href="/portfolio/" title="Full Portfolio" class="button">Full portfolio &#8594;</a>
            </p>
        </div>
    </div>
    {% include process.html %}
</main>
